@import '../../styles/variables';

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.item {
  padding: .5rem;
}

.link {
  color: $black;
  font-family: $font-family-heading;
  font-weight: bold;
  text-decoration: none;
  padding: .4rem;
}
