/* m-plus-rounded-1c-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/m-plus-rounded-1c-v10-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/m-plus-rounded-1c-v10-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-100.svg#MPLUSRounded1c') format('svg'); /* Legacy iOS */
}

/* m-plus-rounded-1c-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/m-plus-rounded-1c-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/m-plus-rounded-1c-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-regular.svg#MPLUSRounded1c') format('svg'); /* Legacy iOS */
}
/* m-plus-rounded-1c-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/m-plus-rounded-1c-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/m-plus-rounded-1c-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/m-plus-rounded-1c-v10-latin-700.svg#MPLUSRounded1c') format('svg'); /* Legacy iOS */
}

/* zilla-slab-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/zilla-slab-v6-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/zilla-slab-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/zilla-slab-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/zilla-slab-v6-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/zilla-slab-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/zilla-slab-v6-latin-500.svg#ZillaSlab') format('svg'); /* Legacy iOS */
}

/* zilla-slab-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/zilla-slab-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/zilla-slab-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/zilla-slab-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/zilla-slab-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/zilla-slab-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/zilla-slab-v6-latin-700.svg#ZillaSlab') format('svg'); /* Legacy iOS */
}

h1, h2,
h3, h4,
h5, h6,
p, ul,
ol, a {
  margin: 0 0 .5rem 0;
}

h1, h2 {
  font-family: $font-family-heading;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2.8rem;
  font-weight: 400;
}

h4 {
  font-size: 2.4rem;
  font-weight: 400;
}

p, a, ol, ul, li {
  font-size: 1.8rem;
  font-weight: 400;
}

strong {
  font-weight: 700;
}
